@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #b4f9c6;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px, 10%;
    height: 50px;
    background-color: rgb(21, 21, 21);
}

.logo {
    cursor: pointer;
    width: auto;
    height: 30px;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #3eef6c;
}


.home {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

.home-text {
    font-family: "Montserrat", sans-serif;
    text-align: left;
    padding: 30px 50px;
    color: #2d2d2d;
}

#hello {
    font-size: 16px;
    font-weight: 500;
    color: #2d2d2d;
}

#name {
    font-size: 45px;
    font-weight: 800;
    color: #3eef6c;
}

#occupation {
    font-size: 20px;
    font-weight: 500;
    color: #2d2d2d;
    text-align: right;
}

.home-image {
    width: 250px;
    height: auto;
    flex-direct;
}

.about-me-heading {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    border: 50rem;
    color: #3eef6c;
}

.about-me-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0px;
    padding-bottom: 50px;
    margin: 0px 100px;
}

.about-me-text{
    font-family: "Montserrat", sans-serif;
    text-align: left;
    max-width: 600px;
    padding-top: 50px;
    height: auto;
    color: #565656;
}

.about-me-image {
    width: 250px;
    height: auto;
}